{"swagger":"2.0","info":{"description":"자리배치 프로그램 API 문서입니다.","version":"1","title":"Spring API Documentation"},"host":"seat.gabia.com:8080","basePath":"/","tags":[{"name":"employee-controller","description":"Employee Controller"},{"name":"floor-controller","description":"Floor Controller"},{"name":"place-controller","description":"Place Controller"},{"name":"seat-controller","description":"Seat Controller"}],"paths":{"/employees":{"get":{"tags":["employee-controller"],"summary":"모든 직원 조회","description":"전체 직원정보를 조회하는 API.","operationId":"getAllEmployeesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"403":{"description":"You shall not pass!!"},"500":{"description":"Server has crashed!!","schema":{"$ref":"#/definitions/error"}}},"deprecated":false}},"/floors":{"get":{"tags":["floor-controller"],"summary":"모든 층 조회","description":"전체 층정보를 조회하는 API.","operationId":"getAllFloorsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FloorResponseDTO"}},"403":{"description":"You shall not pass!!"},"500":{"description":"Server has crashed!!","schema":{"$ref":"#/definitions/error"}}},"deprecated":false},"post":{"tags":["floor-controller"],"summary":"새 층 등록","description":"새 층을 등록하는 API.","operationId":"createFloorUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"floorRequestDTO","description":"floorRequestDTO","required":true,"schema":{"$ref":"#/definitions/FloorRequestDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"403":{"description":"You shall not pass!!"},"500":{"description":"Server has crashed!!","schema":{"$ref":"#/definitions/error"}}},"deprecated":false}},"/floors/{floorId}":{"get":{"tags":["floor-controller"],"summary":"특정 층 조회","description":"특정 층의 정보를 조회","operationId":"getFloorByIdUsingGET","produces":["*/*"],"parameters":[{"name":"floorId","in":"path","description":"floorId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"403":{"description":"You shall not pass!!"},"500":{"description":"Server has crashed!!","schema":{"$ref":"#/definitions/error"}}},"deprecated":false},"put":{"tags":["floor-controller"],"summary":"특정 층 정보 수정","description":"특정 층 정보 수정.","operationId":"updateFloorUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"floorId","in":"path","description":"floorId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"floorRequestDTO","description":"floorRequestDTO","required":true,"schema":{"$ref":"#/definitions/FloorRequestDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"403":{"description":"You shall not pass!!"},"500":{"description":"Server has crashed!!","schema":{"$ref":"#/definitions/error"}}},"deprecated":false},"delete":{"tags":["floor-controller"],"summary":"특정 층 지우기","description":"특정 층을 삭제하는 API.","operationId":"deleteFloorUsingDELETE","produces":["*/*"],"parameters":[{"name":"floorId","in":"path","description":"floorId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"403":{"description":"You shall not pass!!"},"500":{"description":"Server has crashed!!","schema":{"$ref":"#/definitions/error"}}},"deprecated":false}},"/places":{"get":{"tags":["place-controller"],"summary":"모든 장소 조회","description":"전체 장소정보를 조회하는 API.","operationId":"getAllPlacesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"403":{"description":"You shall not pass!!"},"500":{"description":"Server has crashed!!","schema":{"$ref":"#/definitions/error"}}},"deprecated":false},"post":{"tags":["place-controller"],"summary":"새 장소 등록","description":"새 장소를 등록하는 API.","operationId":"createPlaceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"placeRequestDTO","description":"placeRequestDTO","required":true,"schema":{"$ref":"#/definitions/PlaceRequestDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"403":{"description":"You shall not pass!!"},"500":{"description":"Server has crashed!!","schema":{"$ref":"#/definitions/error"}}},"deprecated":false}},"/places/{placeId}":{"get":{"tags":["place-controller"],"summary":"특정 장소 조회","description":"특정 장소의 정보를 조회","operationId":"getPlaceByIdUsingGET","produces":["*/*"],"parameters":[{"name":"placeId","in":"path","description":"placeId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"403":{"description":"You shall not pass!!"},"500":{"description":"Server has crashed!!","schema":{"$ref":"#/definitions/error"}}},"deprecated":false},"put":{"tags":["place-controller"],"summary":"특정 장소 정보 수정","description":"특정 장소 정보 수정.","operationId":"updatePlaceUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"placeId","in":"path","description":"placeId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"placeRequestDTO","description":"placeRequestDTO","required":true,"schema":{"$ref":"#/definitions/PlaceRequestDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"403":{"description":"You shall not pass!!"},"500":{"description":"Server has crashed!!","schema":{"$ref":"#/definitions/error"}}},"deprecated":false},"delete":{"tags":["place-controller"],"summary":"특정 장소 지우기","description":"특정 장소를 삭제하는 API.","operationId":"deletePlaceUsingDELETE","produces":["*/*"],"parameters":[{"name":"placeId","in":"path","description":"placeId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"403":{"description":"You shall not pass!!"},"500":{"description":"Server has crashed!!","schema":{"$ref":"#/definitions/error"}}},"deprecated":false}},"/seats":{"post":{"tags":["seat-controller"],"summary":"새 자리 등록","description":"새 자리를 등록하는 API.","operationId":"createSeatUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"seatRequestDTO","description":"seatRequestDTO","required":true,"schema":{"$ref":"#/definitions/SeatRequestDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"403":{"description":"You shall not pass!!"},"500":{"description":"Server has crashed!!","schema":{"$ref":"#/definitions/error"}}},"deprecated":false}},"/seats/bulk":{"patch":{"tags":["seat-controller"],"summary":"대량 자리 정보 수정","description":"대량 자리 정보 수정.","operationId":"updateSeatInBulkUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"list","description":"list","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SeatUpdateRequestDTO"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/seats/employees":{"get":{"tags":["seat-controller"],"summary":"모든 자리 조회","description":"전체 자리정보를 조회하는 API.","operationId":"getAllSeatsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SeatDTO"}},"403":{"description":"You shall not pass!!"},"500":{"description":"Server has crashed!!","schema":{"$ref":"#/definitions/error"}}},"deprecated":false}},"/seats/{seatId}":{"get":{"tags":["seat-controller"],"summary":"특정 자리 조회","description":"특정 자리의 정보를 조회","operationId":"getSeatByIdUsingGET","produces":["*/*"],"parameters":[{"name":"seatId","in":"path","description":"seatId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"403":{"description":"You shall not pass!!"},"500":{"description":"Server has crashed!!","schema":{"$ref":"#/definitions/error"}}},"deprecated":false},"delete":{"tags":["seat-controller"],"summary":"특정 자리 지우기","description":"특정 자리를 삭제하는 API.","operationId":"deleteSeatUsingDELETE","produces":["*/*"],"parameters":[{"name":"seatId","in":"path","description":"seatId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"403":{"description":"You shall not pass!!"},"500":{"description":"Server has crashed!!","schema":{"$ref":"#/definitions/error"}}},"deprecated":false},"patch":{"tags":["seat-controller"],"summary":"특정 자리 정보 수정","description":"특정 자리 정보 수정.","operationId":"updateSeatUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"seatId","in":"path","description":"seatId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"seatRequestDTO","description":"seatRequestDTO","required":true,"schema":{"$ref":"#/definitions/SeatRequestDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}},"/seats/{seatId}/employee":{"patch":{"tags":["seat-controller"],"summary":"자리와 직원정보 매핑","description":"자리와 직원 매핑","operationId":"updateSeatWithEmployeeUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"employeeId","description":"employeeId","required":true,"schema":{"$ref":"#/definitions/SeatEmployeeUpdateRequestDTO"}},{"name":"seatId","in":"path","description":"seatId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false}}},"definitions":{"Coordinate":{"type":"object","properties":{"lat":{"type":"number"},"lng":{"type":"number"}},"title":"Coordinate"},"CoordinateDTO":{"type":"object","properties":{"lat":{"type":"number"},"lng":{"type":"number"}},"title":"CoordinateDTO"},"DepartmentResponseDTO":{"type":"object","properties":{"departmentName":{"type":"string"},"id":{"type":"integer","format":"int64"}},"title":"DepartmentResponseDTO"},"EmployeeResponseDTO":{"type":"object","properties":{"companyEmail":{"type":"string"},"department":{"$ref":"#/definitions/DepartmentResponseDTO"},"employeeExtension":{"type":"integer","format":"int32"},"employeeName":{"type":"string"},"employeeNumber":{"type":"string"},"id":{"type":"integer","format":"int64"},"role":{"$ref":"#/definitions/RoleResponseDTO"},"seat":{"$ref":"#/definitions/SeatResponseDTO"}},"title":"EmployeeResponseDTO"},"FloorRequestDTO":{"type":"object","properties":{"floorName":{"type":"string"},"imagePath":{"type":"string"}},"title":"FloorRequestDTO"},"FloorResponseDTO":{"type":"object","properties":{"floorName":{"type":"string"},"id":{"type":"integer","format":"int64"},"imagePath":{"type":"string"}},"title":"FloorResponseDTO"},"PlaceRequestDTO":{"type":"object","properties":{"coordinate":{"$ref":"#/definitions/CoordinateDTO"},"floorId":{"type":"integer","format":"int64"},"placeName":{"type":"string"},"placeTypeId":{"type":"integer","format":"int64"}},"title":"PlaceRequestDTO"},"RoleResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"roleType":{"type":"string"}},"title":"RoleResponseDTO"},"SeatDTO":{"type":"object","properties":{"coordinate":{"$ref":"#/definitions/Coordinate"},"employee":{"$ref":"#/definitions/EmployeeResponseDTO"},"floor":{"$ref":"#/definitions/FloorRequestDTO"},"id":{"type":"integer","format":"int64"}},"title":"SeatDTO"},"SeatEmployeeUpdateRequestDTO":{"type":"object","properties":{"employeeId":{"type":"integer","format":"int64"}},"title":"SeatEmployeeUpdateRequestDTO"},"SeatRequestDTO":{"type":"object","properties":{"coordinate":{"$ref":"#/definitions/CoordinateDTO"},"floorId":{"type":"integer","format":"int64"}},"title":"SeatRequestDTO"},"SeatResponseDTO":{"type":"object","properties":{"coordinate":{"$ref":"#/definitions/CoordinateDTO"},"id":{"type":"integer","format":"int64"}},"title":"SeatResponseDTO"},"SeatUpdateRequestDTO":{"type":"object","properties":{"coordinate":{"$ref":"#/definitions/CoordinateDTO"},"floorId":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"}},"title":"SeatUpdateRequestDTO"}}}